**/.git
**/.gitignore
**/.env.local
**/.env.*.local
**/node_modules
**/.next
**/out
**/build
**/dist
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.coverage
**/htmlcov
**/.vscode
**/.idea
**/outputs
